@using Web.Helper
@model Application.DTOs.ProjectDto

@{
	ViewData["Title"] = $"{Model.Name} details";
}

<div>
	<h4>@Model.Name</h4>
	<span style="font-size:13px">ID:@Model.Id</span>
	<p style="text-align:end">Project start date: @Model.StartDate</p>
	<hr />
	<p>
		@Html.Raw(Model.Description)
	</p>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
	<a asp-action="Create" asp-controller="TaskItem" asp-route-projectId="@Model.Id" class="btn btn-primary me-md-2" type="button">New task item</a>
</div>

@foreach (var item in Model.TaskItems)
{
	<div class="card mb-1">
		<div class="card-body" style="padding:0.5rem">
			<h5 class="card-title">
				<a asp-controller="TaskItem" asp-action="Details" asp-route-Id="@item.Id">@($"#{item.TaskNumber}") @item.Title</a>
			</h5>
			<p class="card-text">@Html.StripHtmlAndLimit(Model.Description, 50)</p>
		</div>
	</div>
}
