@using Web.Helper
@model Application.DTOs.ProjectDto

@{
	ViewData["Title"] = $"{Model.Name} details";
}

<div>
	<h4>@Model.Name</h4>
	<span style="font-size:13px">ID:@Model.Id</span>
	<p style="text-align:end">Project start date: @Model.StartDate</p>
	<hr />
	<p>
		@Html.Raw(Model.Description)
	</p>
</div>
<div>
	@Html.ActionLink("New task item", "Create", "TaskItem", new { projectId = Model.Id }) 
</div>

@foreach (var item in Model.TaskItems)
{
	<div class="card mb-1">
		<div class="card-body">
			<h5 class="card-title">@item.Title</h5>
			<p class="card-text">@Html.StripHtmlAndLimit(Model.Description)</p>
		</div>
	</div>
}
