@using Domain.Enums
@using Web.Helper
@model Application.DTOs.TaskItemDto

@{
	ViewData["Title"] = @Model.Title;
	var priorityLevels = EnumHelper.GetSelectList<PriorityLevel>();
	var taskStatuses = EnumHelper.GetSelectList<Domain.Enums.TaskStatus>();
}
<div class="row">
	<div class="col-md-8">
		<h4>
			<span style="color:#4e73df;font-size: 1.2rem;">@($"#{Model.TaskNumber}")</span>
			@Model.Title <i style="color:@($"{UIHelper.GetTaskStatusColor(Model.Status)}")" class="bi bi-record-circle"></i>
		</h4>
		<p>Project: <a asp-controller="Project" asp-action="Details" asp-route-Id="@Model.ProjectId">@Html.StripHtmlAndLimit(Model.Project.Name, 50)</a></p>

		<label asp-for="Title" class="control-label">Description:</label>
		<div class="card">
			<div class="card-body">
				<p>
					@Html.Raw(Model.Description)
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<p>Start date time: @Model.StartDate</p>
		<hr />

		<p>Due date time: @(Model.DueDate?.ToString() ?? "Not set")</p>
		<hr />


		<div class="dropdown">
			<span>Priority: </span>
			<span data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<a id="priority-link" href="#">@Model.Priority.GetDescription()</a>
			</span>
			<div class="dropdown-menu dropdown">
				@foreach (var item in priorityLevels)
				{
					<a onclick="updatePriority(event,@item.Value)" class="dropdown-item" href="#">
						@item.Text
					</a>
				}
			</div>
		</div>
		<hr />

		<div class="dropdown">
			<span>Status: </span>
			<span data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<a id="status-link" href="#">@Model.Status.GetDescription()</a>
			</span>
			<div class="dropdown-menu dropdown">
				@foreach (var item in taskStatuses)
				{
					<a onclick="updateStatus(event,@item.Value)" class="dropdown-item" href="#">
						@item.Text
					</a>
				}
			</div>
		</div>
		<hr />
	</div>
</div>

@section Scripts {
	<script>

			function updatePriority(event,selectedValue) {
				event.preventDefault();
				var taskItemId = '@Model.Id';
				$.ajax({
					url: '/ManageTask/TaskItem/UpdatePriority',
					type: 'POST',
					data: {taskItemId:taskItemId, newPriority: selectedValue },
					success: function(response) {
						document.getElementById("priority-link").innerText = response.updatedPriorityDescription;
					},
					error: function() {
						alert("Error updating priority.");
					}
				});
		}

		function updateStatus(event,selectedValue) {
				event.preventDefault();
				var taskItemId = '@Model.Id';
				$.ajax({
					url: '/ManageTask/TaskItem/UpdateStatus',
					type: 'POST',
					data: {taskItemId: taskItemId, newStatus: selectedValue },
					success: function(response) {
						document.getElementById("status-link").innerText = response.updatedStatusDescription;
					},
					error: function() {
						alert("Error updating status.");
					}
				});
		}

	</script>
}
